*{
  box-sizing: border-box;
}
body,html{
  height: 100%;
  font-family: sans-serif;
}
/* styling the calculator body */
#calculator, .container{
  position: relative;
  background-color: white;
  max-width: 320px;
  height:600px;
  margin: auto;
  text-align:center;
  border: none;
  border-radius: 42px;
  box-shadow: -13px -13px 26px #dadada, 13px 13px 26px #fff, -12px -12px 24px #dadada inset, -12px -12px 24px #fff inset;
}
#calculator #time{
  position: absolute;
  top: 12px;
  left: 45px;
  display: inline;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
#calculator .top-icons{
  display: inline;
  position: absolute;
  top: 12px;
  right: 28px;
}
#calculator .top-icons i{
  padding-left: 4px;
}
#screen{
  background-color: inherit;
  height: 100px;
  width:90%;
  font-size: 20px;
  margin-top: 45px;
  margin-bottom: 20px;
  text-align: right;
  letter-spacing: 2px;
  border: none;
  border-radius: 24px;
  opacity: 0.6;
  box-shadow: 3px 3px 10px #dadada inset, -3px 3px 10px #fff inset;
}
#screen:focus{
  border: none;
  outline: none;
}
.btn-group{
  width: 100%;
  margin-top: 12px;
}
.btn-group .btn{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  margin: 0px 6px;
  border: none;
  border-radius: 20px !important;
  cursor: pointer;
}
.btn-group .clear{
  position: relative;
  max-width: 6rem !important;
  background-color: green !important;
  color: white !important;
}
.btn-group .clear:hover{
  background-color: red !important;
  color: white !important;
}
.btn-group i{
  color: white;
  font-size: 18px;
  position: absolute;
  top:25px;
  left: 30px;
}
input.black{
  background-color: #000;
  color: #fff;
  
}
input.black:hover{
  background-color: #333;
  color: #fff;
  transition: .4s;
}
input:not(.black):not(#screen){
  background-color: #fff;
  color: #000;
  box-shadow: 5px 5px 12px #dadada, -5px -5px 12px #fff;
}
input:not(.black):not(#screen):hover{
  background-color: #ddd;
  color: #000;
  transition: .4s;
}
.attribution{
  padding-top: 32px;
  font-weight: bold;
}
.attribution i.fa-heart{
  color: red;
}
